.top-navigation {
  margin: 10px 0; }
  .top-navigation div {
    display: inline-block;
    margin: 0 10px; }
    .top-navigation div a {
      color: #404040; }
  .top-navigation .omnibox input {
    width: 680px;
    outline: none;
    padding: 7px 10px 9px 20px;
    border-radius: 20px;
    font-size: 13px;
    border: 1px solid #eaeaea; }
  .top-navigation .omnibox .fa-star {
    position: absolute;
    right: 34px;
    top: 18px; }

.toolbar {
  background: #e6e6e6;
  /* Navigation Controls */ }
  .toolbar #nav-body-views {
    height: 100vh; }
  .toolbar #nav-body-tabs {
    border: none;
    background: #d7d7d7;
    min-height: auto; }
    .toolbar #nav-body-tabs #nav-tabs-add {
      fill: #929292;
      margin-left: 10px; }
    .toolbar #nav-body-tabs .nav-icons {
      width: 16px;
      height: 16px; }
    .toolbar #nav-body-tabs .nav-tabs-tab {
      min-width: 60px;
      width: 180px;
      min-height: 20px;
      padding: 5px 10px;
      font-size: 13px;
      border-bottom: 1px solid #ababab; }
      .toolbar #nav-body-tabs .nav-tabs-tab.active {
        background: #eeeeee;
        border: 1px solid #ababab;
        border-bottom: 1px solid #eeeeee;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px; }
      .toolbar #nav-body-tabs .nav-tabs-tab .nav-tabs-title {
        font-style: normal;
        margin-left: 6px; }
  .toolbar #nav-body-ctrls {
    background: #e8e8e8;
    padding: 2px; }
    .toolbar #nav-body-ctrls a {
      color: #000; }
    .toolbar #nav-body-ctrls i {
      padding: 0 5px;
      cursor: pointer; }
      .toolbar #nav-body-ctrls i:hover {
        fill: #75a7da; }
    .toolbar #nav-body-ctrls #nav-ctrls-url {
      border: none;
      border-radius: 10px;
      padding: 7px 10px;
      height: auto;
      font-size: 13px;
      margin: 0 5px;
      outline: none; }
